.bloco-lista {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  margin-right: 20px;
}
.lista-estilizada {
  margin-top: 10px;
  border: 1px solid blue;
  padding: 25px;
}
.item-cor {
  color: #67000F;
}